<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.DNSConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DNS.mdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplication2.Properties.Settings.DNSConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DNS.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>